# TO DO 
- Formulate a general format for the data set 
- Update the preprocessing properly 
- A trip is a class 
- A schedule is also a class which hold the instances of trip 


Schedule (df, start_leg, no_of_trips, etc..)

Trip (steering_duty, spread_over, ...)

### SET UP AND IMPORTS

In [43]:
# SET UP AND IMPORTS 
import pandas as pd 
import datetime
import time

df = pd.read_excel('dataset/processed/psl.xlsx').reset_index(drop=True)

# Adding the Terminal Gap and Duty only for processing 
df['Terminal Gap'] = [0] * len(df)
df['Duty'] = [0] * len(df)

START_PLACE = 'PSL'
#start_legs contain the legs with departure place as start_place
start_legs = df[df['Departure Place'] == START_PLACE].sort_values('Departure Time', ascending=True)
start_legs.reset_index(drop=True,inplace=True)
# setting the initial running time of start legs as its running time itself
start_legs['Duty'] = start_legs['Running Time'] 
#main_legs contains all other legs 
# main_legs = df[df['Departure Place'] != START_PLACE]
# MIN_DUTY = 27000 #setting the minimum duty as 7:00 hrs 
MIN_DUTY = 7 * 3600 #setting the minimum duty as 7:00 hrs + 15min sign in  and 15 min sign out = 07:30 hrs
# The ideal duty is 7:30 hrs with a 15 min break at the start and end . Then total 8:00 
# MAX_DUTY = 30600 # setting the maximum duty as 8:30 hrs
MAX_DUTY = 9 * 3600  # setting the maximum duty as 09:00 hrs + 15min sign in  and 15 min sign out = 09:30 hrs
# MAX_DUTY_HOURS = 9
# MAX_DUTY_MINUTES = 15

# MAX_DUTY = (MAX_DUTY_HOURS * 60 + MAX_DUTY_MINUTES) * 60

MAX_SPREAD_OVER = 43200 # setting maximum spread over to 12 hrs 

MIN_TERMINAL_GAP = 300
MAX_TERMINAL_GAP = 900

BREAK = 1800 # break time of 30 min to avoid 5hrs continuous working
IS_BREAK = False # setting the break status as false by default 

MAX_SPLIT = 3600 # Setting the maximum split time as 60 min 
MIN_TEMPSET_SIZE = 2 # define the minimum number of legs in a temp_set

BREAK_LIMIT_DUTY = 18000 # 5hrs of continuous duty  
MIN_LIMIT_DUTY = 12600 # After 3.5 hrs of duty we can try entering the 30 min break

# FOR THE PURPOSE OF MEASURING THE PERFORMANCE 
success = 0 # Not necessary , just to count the number of start legs taken 
trips_count = 0 # count the number of trips 
exe_generateTempSet  = 0
exe_popTempSet  = 0
start_legs

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap,Duty
0,1,13200,PSL,NH,KLKV,13500,3.5,300,0,300
1,15,15600,PSL,NH,KLKV,15900,3.5,300,0,300
2,4,16200,PSL,NH,KLKV,16800,3.5,600,0,600
3,645,18000,PSL,KRKM-MJ,TVM,23700,39.0,5700,0,5700
4,693,18000,PSL,MKD-KLD-PLKDA-NTA-TVM-MC-SKRM-CHPY,PCD,27900,66.5,9900,0,9900
...,...,...,...,...,...,...,...,...,...,...
99,62,52500,PSL,NH,KLKV,53100,3.5,600,0,600
100,63,52800,PSL,NH,KLKV,53400,3.5,600,0,600
101,55,54300,PSL,NH,KLKV,54900,3.5,600,0,600
102,65,55200,PSL,NH,KLKV,55800,3.5,600,0,600
103,531,56400,PSL,KRKM,VLRD,58800,17.0,2400,0,2400

### SUPPORTING FUNCTIONS

#### General Functions

In [44]:
def secToTime(seconds):
    hrs, rem = divmod(seconds, 3600)
    mint, sec = divmod(rem , 60)
    return datetime.time(hour=hrs, minute=mint, second= sec)

#### Generate Tempset 
- Below function creates the temset for a particular leg in the stack . It checks for the needed criteria and then creates the set of legs that are possibly gives us a feasible solution

In [45]:
# SUPPORTING FUNCTIONS
def generateTempSet(leg, mode = 0) -> pd.DataFrame:
    # mode 0 means normal trips and mode 1 means consider 30 min break also
    # FN LOGIC IS NOT CORRECT , NEED TO CREATE THE TEMP SET ONLY WITH THE CRITERIA
    # SORTING THEM AFTER CREATING THE ENTIRE TEMPSET IS NOT OPTIMAL
    global exe_generateTempSet
    x = time.time()

    # Creating a copy of the main legs.Can be limited with steering duty remaining 
    temp_set_df = df[(df['Departure Place'] == leg['Arrival Place'])
                  & (df['Departure Time'] > leg['Arrival Time act'])]
    temp_set_df = temp_set_df.sort_values(
        'Departure Time', ascending=True).reset_index(drop=True)
    temp_set_df['Terminal Gap'] = temp_set_df['Departure Time'] - leg['Arrival Time act']
    # Sorting and resetting index
    # '''BELOW LINE MAY BE NOT NECESSARY'''
    # display(temp_set)
    temp_set = pd.DataFrame()
    # THERE ARE CHANCES THAT THE TEMP SET MAY BE EMPTY , SO WE ARE TRYING FOR 
    #  THE NEXT LEVEL SEARCHING
    if mode == 0:
        min_terminal_gap = MIN_TERMINAL_GAP
        terminal_gap = MAX_TERMINAL_GAP
        ADD_ON = 900 # 15 min
    else :
        min_terminal_gap = BREAK
        terminal_gap = BREAK + MAX_TERMINAL_GAP
        ADD_ON = 900 # 15 min
   
    # NEED TO OPTIMIZE BELOW LOOP AS EVERY TIME IT LOOPS THROUGH THE ENTIRE LEGS TILL
    # THE SPECIFIED TERMINAL GAP , CAN USE EXTEND OR CONCAT TO ITERATIVELY ADDING UP THE 
    # TEMP SET  
    while len(temp_set) < MIN_TEMPSET_SIZE and terminal_gap < MAX_SPLIT: # 1 hr split
        temp_set = temp_set_df[
            (temp_set_df['Terminal Gap'] >= min_terminal_gap) & (
                temp_set_df['Terminal Gap'] < terminal_gap)  # |
            # (temp_set['Duty'] >= MIN_DUTY) & (temp_set['Duty'] <= MAX_DUTY)
        ]
        terminal_gap += ADD_ON
    # display(temp_set)
    # print(f"Type of gap = {type(temp_set['Terminal Gap'][0])}")
    # temp_set['Duty'] = leg['Duty'] + temp_set['Running Time'] + temp_set['Terminal Gap']
    temp_set.loc[:, 'Duty'] = leg['Duty'] + temp_set['Running Time'] # should bee run for all legs
    # temp_set.loc[temp_set['Terminal Gap'] < MAX_TERMINAL_GAP, 'Duty'] += temp_set.loc[temp_set['Terminal Gap'] < MAX_TERMINAL_GAP, 'Terminal Gap']
    mask = temp_set['Terminal Gap'] < MAX_TERMINAL_GAP
    temp_set.loc[mask, 'Duty'] += temp_set.loc[mask, 'Terminal Gap']
    y = time.time()
    exe_generateTempSet += (y - x) 
    temp_set.reset_index(drop=True, inplace=True)
    return temp_set

In [46]:
# df = pd.DataFrame()
# df['first'] = [1, 2, 3]
# df['second'] = [4, 5, 6]
# df['result'] = 100 + df['first'] + df['second']
# df

#### Pop Tempset 
- This function pops the currently visited leg from the corresponding tempset, then the tempset will always contain the possible legs from a given leg that satisfies the criteria needed

In [47]:
def popTempSet(temp_set) -> pd.DataFrame:
    global exe_popTempSet
    x = time.time()
    temp_set.drop(0, inplace=True)
    # print("popTempSet")
    # display(temp_set)
    temp_set.reset_index(inplace=True)
    temp_set.drop('index',axis= 1, inplace=True)

    y = time.time()
    exe_popTempSet += (y - x)
    return temp_set

#### Display Trip
- Returns the trip once the stack is satisfying all the criteria

In [48]:
def displayTrip(stack):
    global trips_count
    frame = pd.DataFrame()
    for x in stack:
        frame = pd.concat([frame, (x['current_leg'].to_frame()).T], ignore_index=True)
    frame['Terminal Gap'] = frame['Terminal Gap'].shift(-1)

    #Calculating the steering duty 
    duty = secToTime(frame['Duty'].iloc[len(frame) - 1])
    spread_over = secToTime((stack[-1]['current_leg'])['Arrival Time act'] - (stack[0]['current_leg'])['Departure Time'])
    frame = frame.drop('Duty', axis=1)
    trips_count += 1
    return [frame, duty, spread_over]

# def seconds_to_time(df, columns):
#     df[columns] = df[columns].apply(lambda x: pd.to_datetime(x, unit='s').dt.strftime('%H:%M:%S'))

In [49]:
# check_df = pd.DataFrame(
#     {'Sl No.': [1, 124, 313, 641, 336, 695],
#      'Departure Time': [13200, 13800, 18300, 22500, 29400, 36300],
#      'Departure Place': ['PSL', 'KLKV', 'TVM', 'KNVLA', 'MC', 'KLKV'],
#      'Route of Operation': ['NH',
#                             'NH',
#                             'NH-UDA',
#                             'UDA',
#                             'NH',
#                             'PVR-VZM-BYPASS-TVM-NH-KLKV'],
#      'Arrival Place': ['KLKV', 'TVM', 'KNVLA', 'MC', 'KLKV', 'PSL'],
#      'Arrival Time act': [13500, 17700, 21900, 28800, 36000, 48900],
#      'KM': [3.5, 33.7, 32.0, 39.0, 40.0, 81.5],
#      'Running Time': [300, 3900, 3600, 6300, 6600, 12600],
#      'Terminal Gap': [300, 600, 600, 600, 300, None]}
# )

#### Remove Legs
- Once a leg is taken for a trip , it should be removed so that it will not be considered for the next round of iterations

In [50]:
def removeLegs(trip) -> None:
    global success
    for i in range(len(trip)):
        if trip.iloc[i]['Departure Place'] == START_PLACE:
            # remove from both df and start_legs 
            df.drop((df[df['Sl No.'] == trip.iloc[i]['Sl No.']]).index, axis= 0, inplace=True)
            start_legs.drop((start_legs[start_legs['Sl No.'] == trip.iloc[i]['Sl No.']]).index, axis= 0, inplace=True)
            df.reset_index(drop=True, inplace=True)
            start_legs.reset_index(drop=True, inplace=True)
            success += 1
        else:
            # remove only from df 
            df.drop((df[df['Sl No.'] == trip.iloc[i]['Sl No.']]).index, axis= 0, inplace=True)
            df.reset_index(drop=True, inplace=True)

#### Backtracking

In [51]:
def backtrack(stack):
    #  If temp_set is empty , it means that we cannot go to any other places from the 
    # last leg , so we can pop the last leg in the stack  
    stack.pop()
    # After popping stack top , there are also chances that the temp_set of top elements 
    # in the stack may be empty, so those ones also should be popped out, because we cannot 
    # goto anywhere else from there  
    while(stack[-1]['temp_set'].empty) :
            stack.pop()
    stack[-1]['current_leg'] = stack[-1]['temp_set'].iloc[0]
    stack[-1]['temp_set'] = popTempSet(stack[-1]['temp_set'])

### ALGORITHM

In [52]:
# Decorators 
def exception_handler(func):
    def wrapper(stack):
        try:
            return func(stack)
        except Exception as e:
            # removeLegs(start_leg)
            start_legs.drop(0, axis=0, inplace=True)
            start_legs.reset_index(drop=True, inplace=True)
            print(f"Error occured = {e}")
            return False
    return wrapper

In [53]:
@exception_handler
def generateTrip(stack):
    # Making the break flag False initially 
    IS_BREAK = False
    spread_over = 0
    
    while stack : 
        temp_set = generateTempSet(stack[-1]['current_leg'])
        if temp_set.empty :
            # EXCEPTION CASES CAN BE HANDLED HERE , MEANS WE CAN CHECK WHETHER THE 
            # STACK GETS EMPTY ON BACKTRACKING TO AVOID OUT OF BOUND 
            backtrack(stack)
            # After backtracking a new leg is replaced on the top , so we can just continue
            continue
        if stack[-1]['current_leg']['Duty'] > MIN_LIMIT_DUTY and not stack[-1]["break"]:
            temp_set = generateTempSet(stack[-1]['current_leg'], 1)
            stack.append({"current_leg": temp_set.iloc[0], "temp_set": popTempSet(temp_set), "break": True})
            spread_over = (stack[-1]['current_leg'])['Arrival Time act'] - (stack[0]['current_leg'])['Departure Time']
        else:
            # In the below line , break is made to follow the stack top because after setting it true inside the 
            # break insertion logic , the subsequent legs should have break True . So it should follow stack top  
            stack.append({"current_leg": temp_set.iloc[0], "temp_set": popTempSet(temp_set), "break": stack[-1]["break"]})
            spread_over = (stack[-1]['current_leg'])['Arrival Time act'] - (stack[0]['current_leg'])['Departure Time']


        if (stack[-1]['current_leg']['Duty'] > MAX_DUTY or spread_over > MAX_SPREAD_OVER
            or (stack[-1]['current_leg']['Duty'] > BREAK_LIMIT_DUTY and not stack[-1]["break"])):
            backtrack(stack)
        else:
            if (top_leg:=stack[-1]['current_leg'])['Arrival Place'] == START_PLACE and top_leg['Duty'] > MIN_DUTY \
            and stack[-1]["break"]==True: 
                
                return stack         
# @exception_handler
# def generateTrip(stack):
#     # Making the break flag False initially
#     # SHOULD BE CONSIDERED GLOBALLY
#     IS_BREAK = False
#     spread_over = 0

#     while stack:
#         temp_set = generateTempSet(stack[-1]['current_leg'])
#         if temp_set.empty:
#             # EXCEPTION CASES CAN BE HANDLED HERE, MEANS WE CAN CHECK WHETHER THE
#             # STACK GETS EMPTY ON BACKTRACKING TO AVOID OUT OF BOUND
#             backtrack(stack)
#             # After backtracking, a new leg is replaced on the top, so we can just continue
#             continue

#         current_leg = temp_set.iloc[0]
#         stack_break = stack[-1]["break"]

#         # Create a DataFrame for the new stack entry
#         stack_entry = {
#             "current_leg": current_leg,
#             "temp_set": popTempSet(temp_set),
#         }

#         # Check the condition for 'break' and set it
#         if current_leg['Duty'] > MIN_LIMIT_DUTY and not stack_break:
#             stack_entry["break"] = True
#             spread_over = current_leg['Arrival Time act'] - stack[0]['current_leg']['Departure Time']
#         else:
#             # In the below line, 'break' is made to follow the stack top because after setting it true inside the
#             # break insertion logic, the subsequent legs should have 'break' True. So it should follow the stack top
#             stack_entry["break"] = stack_break

#         stack.append(stack_entry)

#         # Calculate spread_over once to avoid recomputation
#         if "break" in stack_entry:
#             spread_over = current_leg['Arrival Time act'] - stack[0]['current_leg']['Departure Time']

#         # Check conditions for backtracking
#         if (
#             current_leg['Duty'] > MAX_DUTY or
#             spread_over > MAX_SPREAD_OVER or
#             (current_leg['Duty'] > BREAK_LIMIT_DUTY and not stack_break)
#         ):
#             backtrack(stack)
#         elif current_leg['Arrival Place'] == START_PLACE and current_leg['Duty'] > MIN_DUTY and stack_break:
#             return stack

### MAIN PART

In [54]:

def main():
    while not start_legs.empty:
        # Initializing stack with start leg . stack contain the legs in the trip 
        status = generateTrip([{"current_leg": start_legs.iloc[0], "temp_set": pd.DataFrame(), "break":False}])
        if status :
            result = displayTrip(status)
            removeLegs(result[0])
            display(result[0])
            print("Steering Duty = ", result[1]) 
            print("Spread Over = ", result[2])
        # else means got exception 
        else:
            continue
    print(f"Success legs = {success} ..... Missing {104 - success} routes  ")
    print(f"NUMBER OF TRIPS = {trips_count}")

In [55]:
# MAIN
pd.options.mode.chained_assignment = None #Suppress the warnings 

x = time.time()
if __name__ == "__main__":
    main()
y = time.time()
print(f"Time = {y - x}")
print(f"Time taken by tempset = {exe_generateTempSet}")
print(f"Time taken by popTempSet = {exe_popTempSet}")

Error occured = single positional indexer is out-of-bounds
Error occured = single positional indexer is out-of-bounds

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,4,16200,PSL,NH,KLKV,16800,3.5,600,600
1,129,17400,KLKV,NH,TVM,21300,33.7,3900,600
2,317,21900,TVM,NH,KLKV,26400,33.7,4500,600
3,163,27000,KLKV,NH,TVM,31800,33.7,4800,1800
4,360,33600,TVM,NH,NTA,36600,20.7,3000,300
5,210,36900,NTA,NH,TVM,39900,20.7,3000,300
6,395,40200,TVM,NH,KLKV,45600,33.7,5400,300
7,68,45900,KLKV,NH,PSL,46500,3.5,600,None

Steering Duty =  07:55:00
Spread Over =  08:25:00
Error occured = single positional indexer is out-of-bounds
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,6,18300,PSL,NH,KLKV,18900,3.5,600,300
1,501,19200,KLKV,KRKM,VLRD,21600,17.0,2400,600
2,542,22200,VLRD,KRKM,KLKV,24600,17.0,2400,600
3,157,25200,KLKV,NH,MC,31200,40.0,6000,2400
4,362,33600,MC,NH,KLKV,39600,40.0,6000,600
5,525,40200,KLKV,KRKM,VLRD,42600,17.0,2400,600
6,577,43200,VLRD,KRKM-KLKV,PSL,46800,20.5,3600,None

Steering Duty =  07:15:00
Spread Over =  07:55:00
Error occured = single positional indexer is out-of-bounds

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,623,18600,PSL,KRKM-MYL-KTDA,TVM,27000,57.0,8400,300
1,599,27300,TVM,AYRA,CHVLA,32700,37.0,5400,1800
2,596,34500,CHVLA,AYRA,MC,41400,44.0,6900,600
3,432,42000,MC,NH,KLKV,48600,40.0,6600,300
4,88,48900,KLKV,NH,PSL,49500,3.5,600,None

Steering Duty =  08:05:00
Spread Over =  08:35:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,7,18900,PSL,NH,KLKV,19500,3.5,600,300
1,135,19800,KLKV,NH,MC,25800,40.0,6000,600
2,327,26400,MC,NH,KLKV,33600,40.0,7200,1800
3,206,35400,KLKV,NH,TVM,40200,33.7,4800,600
4,398,40800,TVM,NH,KLKV,45600,33.7,4800,600
5,523,46200,KLKV,KRKM,VLRD,48600,17.0,2400,1500
6,568,50100,VLRD,KRKM,KLKV,52500,17.0,2400,300
7,78,52800,KLKV,NH,PSL,53400,3.5,600,None

Steering Duty =  08:40:00
Spread Over =  09:35:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,8,19200,PSL,NH,KLKV,19800,3.5,600,600
1,137,20400,KLKV,NH,TVM,25200,33.7,4800,300
2,584,25500,TVM,DVPM-ALMP,KLKV,31200,38.5,5700,1200
3,511,32400,KLKV,KRKM,VLRD,34800,17.0,2400,2400
4,557,37200,VLRD,KRKM,KLKV,39600,17.0,2400,900
5,678,40500,KLKV,PVR-VZM-TVM-NH-KLKV,PSL,53100,81.5,12600,None

Steering Duty =  08:10:00
Spread Over =  09:25:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,619,19200,PSL,KULPM,URB,20700,9.0,1500,600
1,620,21300,URB,KLPM-KLKV-NH,MC,28200,48.0,6900,600
2,338,28800,MC,PTM,NTA,33000,27.7,4200,1800
3,203,34800,NTA,NH,TVM,37800,20.7,3000,600
4,385,38400,TVM,NH,KLKV,43200,33.7,4800,300
5,67,43500,KLKV,NH,PSL,44100,3.5,600,600
6,43,44700,PSL,NH,KLKV,45300,3.5,600,900
7,77,46200,KLKV,NH,PSL,46800,3.5,600,900
8,54,47700,PSL,NH,KLKV,48300,3.5,600,900
9,73,49200,KLKV,NH,PSL,49800,3.5,600,300
10,58,50100,PSL,NH,KLKV,50700,3.5,600,300
11,81,51000,KLKV,NH,PSL,51600,3.5,600,None

Steering Duty =  07:45:00
Spread Over =  09:00:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,138,19200,PSL,ALMP-DVPM,TVM,24900,38.5,5700,300
1,663,25200,TVM,AVPM-PKDA,KLKV,33000,50.0,7800,2400
2,512,35400,KLKV,KRKM,VLRD,37800,17.0,2400,600
3,558,38400,VLRD,KRKM,KLKV,40800,17.0,2400,600
4,518,41400,KLKV,KRKM,VLRD,43800,17.0,2400,600
5,549,44400,VLRD,KRKM,KLKV,46800,17.0,2400,300
6,69,47100,KLKV,NH,PSL,47700,3.5,600,None

Steering Duty =  07:15:00
Spread Over =  07:55:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,502,19800,PSL,KLKV-KRKM,VLRD,22800,20.5,3000,600
1,543,23400,VLRD,KRKM,KLKV,25800,17.0,2400,600
2,506,26400,KLKV,KRKM,VLRD,29400,17.0,3000,1800
3,550,31200,VLRD,KRKM,KLKV,33600,17.0,2400,300
4,586,33900,KLKV,PKDA-AVPM,NTA,38400,30.0,4500,2400
5,221,40800,NTA,NH,TVM,43800,20.7,3000,600
6,609,44400,TVM,CVR,KLKV,49800,35.7,5400,300
7,87,50100,KLKV,NH,PSL,50700,3.5,600,None

Steering Duty =  07:25:00
Spread Over =  08:35:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,598,19800,PSL,AYRA,CHVLA,20700,6.0,900,600
1,594,21300,CHVLA,AYRA,TVM,26700,37.0,5400,300
2,330,27000,TVM,NH,NTA,30000,20.7,3000,600
3,185,30600,NTA,NH,TVM,33900,20.7,3300,2400
4,697,36300,TVM,VZM-PVR,KLKV,42900,45.0,6600,1500
5,521,44400,KLKV,KRKM,VLRD,46800,17.0,2400,600
6,564,47400,VLRD,KRKM,PSL,49800,17.0,2400,None

Steering Duty =  07:15:00
Spread Over =  08:20:00
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,13,19800,PSL,NH,KLKV,20400,3.5,600,1200
1,140,21600,KLKV,NH,MC,27600,40.0,6000,600
2,333,28200,MC,NH,KLKV,34800,40.0,6600,2100
3,517,36900,KLKV,KRKM,VLRD,39300,17.0,2400,600
4,561,39900,VLRD,KRKM,KLKV,42300,17.0,2400,600
5,519,42900,KLKV,KRKM,VLRD,45300,17.0,2400,600
6,563,45900,VLRD,KRKM-KLKV,PSL,49200,20.5,3300,None

Steering Duty =  07:15:00
Spread Over =  08:10:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,9,19800,PSL,NH,KLKV,20400,3.5,600,1800
1,144,22200,KLKV,NH,MC,28200,40.0,6000,600
2,674,28800,MC,KLPM,URB,36000,48.0,7200,1800
3,675,37800,URB,KLPM,TVM,44400,42.7,6600,1200
4,470,45600,TVM,NH,KLKV,50400,33.7,4800,900
5,532,51300,KLKV,KRKM,VLRD,54000,17.0,2700,600
6,569,54600,VLRD,KRKM-KLKV,PSL,57600,20.5,3000,None

Steering Duty =  08:55:00
Spread Over =  10:30:00
Error occured = single positional indexer is out-of-bounds

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,11,20700,PSL,NH,KLKV,21300,3.5,600,900
1,503,22200,KLKV,KRKM,VLRD,24600,17.0,2400,600
2,544,25200,VLRD,KRKM,KLKV,27600,17.0,2400,600
3,507,28200,KLKV,KRKM,VLRD,30600,17.0,2400,1800
4,551,32400,VLRD,KRKM,KLKV,34800,17.0,2400,1200
5,209,36000,KLKV,NH,MC,42000,40.0,6000,2400
6,405,44400,MC,NH,KLKV,50700,40.0,6300,600
7,85,51300,KLKV,NH,PSL,51600,3.5,300,300
8,64,51900,PSL,NH,KLKV,52200,3.5,300,300
9,89,52500,KLKV,NH,PSL,52800,3.5,300,2400
10,65,55200,PSL,NH,KLKV,55800,3.5,600,1200
11,534,57000,KLKV,KRKM,VLRD,59400,17.0,2400,600
12,581,60000,VLRD,KRKM-KLKV,PSL,63000,20.5,3000,None

Steering Duty =  09:00:00
Spread Over =  11:45:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,12,20700,PSL,NH,KLKV,21300,3.5,600,1800
1,147,23100,KLKV,NH,MC,28800,40.0,5700,600
2,336,29400,MC,NH,KLKV,36000,40.0,6600,1800
3,191,37800,KLKV,NH,TVM,42600,33.7,4800,1200
4,660,43800,TVM,VZM-PVR,KLKV,51000,45.0,7200,600
5,530,51600,KLKV,KRKM,VLRD,54000,17.0,2400,600
6,576,54600,VLRD,KRKM,PSL,57000,17.0,2400,None

Steering Duty =  08:45:00
Spread Over =  10:05:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,14,21000,PSL,NH,KLKV,21600,3.5,600,2400
1,151,24000,KLKV,NH,TVM,28800,33.7,4800,600
2,342,29400,TVM,NH,NTA,32400,20.7,3000,1200
3,200,33600,NTA,NH,TVM,36600,20.7,3000,600
4,378,37200,TVM,NH,NTA,40200,20.7,3000,2400
5,225,42600,NTA,PTM,MC,46800,27.7,4200,1500
6,416,48300,MC,NH,KLKV,54300,40.0,6000,1500
7,533,55800,KLKV,KRKM,VLRD,58200,17.0,2400,600
8,574,58800,VLRD,KRKM,KLKV,61200,17.0,2400,300
9,96,61500,KLKV,NH,PSL,61800,3.5,300,None

Steering Duty =  08:50:00
Spread Over =  11:20:00
Error occured = list index out of range
Error occured = single positional indexer is out-of-bounds
Error occured = list index out of range
Error occured = single positional indexer is out-of-bounds
Error occured = list index out of range
Error occured = single positional indexer is out-of-bounds
Error occured = list index out of range
Error occured = single positional indexer is out-of-bounds

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,515,22800,PSL,KLKV-KRKM,VLRD,25800,20.5,3000,300
1,545,26100,VLRD,KRKM,KLKV,28500,17.0,2400,300
2,174,28800,KLKV,NH,MC,36000,40.0,7200,1800
3,380,37800,MC,NH,KLKV,43800,40.0,6000,600
4,520,44400,KLKV,KRKM,VLRD,46800,17.0,2400,600
5,565,47400,VLRD,KRKM-KLKV,PSL,50400,20.5,3000,None

Steering Duty =  07:10:00
Spread Over =  07:40:00
Error occured = single positional indexer is out-of-bounds
Error occured = single positional indexer is out-of-bounds

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,10,23400,PSL,NH,KLKV,24000,3.5,600,600
1,127,24600,KLKV,NH,TVM,29400,33.7,4800,600
2,346,30000,TVM,NH,NTA,33000,20.7,3000,1500
3,125,34500,NTA,NH,TVM,37200,20.7,2700,600
4,316,37800,TVM,NH,KLKV,42300,33.7,4500,2100
5,727,44400,KLKV,NH,PSL,45000,3.5,600,900
6,5,45900,PSL,NH,KLKV,46500,3.5,600,300
7,70,46800,KLKV,NH,PSL,47400,3.5,600,600
8,146,48000,PSL,KLKV-NH,TVM,54000,37.2,6000,300
9,717,54300,TVM,NH,KLKV,58800,33.7,4500,300
10,82,59100,KLKV,NH,PSL,59700,3.5,600,None

Steering Duty =  08:50:00
Spread Over =  10:05:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,25,23640,PSL,NH,KLKV,24240,3.5,600,960
1,505,25200,KLKV,KRKM,VLRD,27600,17.0,2400,1800
2,548,29400,VLRD,KRKM,KLKV,31800,17.0,2400,900
3,603,32700,KLKV,NH,TVM,38400,33.7,5700,1200
4,392,39600,TVM,NH,NTA,42600,20.7,3000,1800
5,230,44400,NTA,PTM,MC,48600,27.7,4200,600
6,418,49200,MC,PTM,NTA,53400,27.7,4200,900
7,257,54300,NTA,NH,TVM,57300,20.7,3000,300
8,467,57600,TVM,NH,KLKV,62400,33.7,4800,600
9,75,63000,KLKV,NH,PSL,63600,3.5,600,None

Steering Duty =  09:00:00
Spread Over =  11:06:00
Error occured = list index out of range
Error occured = list index out of range
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,28,24360,PSL,NH,KLKV,24960,3.5,600,2640
1,165,27600,KLKV,NH,MC,33600,40.0,6000,300
2,361,33900,MC,PTM,NTA,38100,27.7,4200,900
3,589,39000,NTA,AVPM-PKDA,KLKV,43500,30.0,4500,1800
4,72,45300,KLKV,NH,PSL,45900,3.5,600,900
5,44,46800,PSL,NH,KLKV,47400,3.5,600,300
6,74,47700,KLKV,NH,PSL,48000,3.5,300,600
7,145,48600,PSL,KLKV-NH,TVM,54600,37.2,6000,600
8,448,55200,TVM,NTA-CVR,KLKV,60600,35.7,5400,600
9,80,61200,KLKV,NH,PSL,61800,3.5,600,None

Steering Duty =  08:40:00
Spread Over =  10:24:00
Error occured = single positional indexer is out-of-bounds
Error occured = single positional indexer is out-of-bounds
Error occured = single positional indexer is out-of-bounds
Error occured = list index out of range
Error occured = single positional indexer is out-of-bounds
Error occured = single positional indexer is out-of-bounds
Error occured = list index out of range
Error occured = single positional indexer is out-of-bounds

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,37,27300,PSL,NH,KLKV,27900,3.5,600,300
1,666,28200,KLKV,PKM-NTA-TVM-PTM,MC,34800,42.0,6600,900
2,367,35700,MC,KNMLA,NTA,40500,29.5,4800,1500
3,223,42000,NTA,NH,TVM,45000,20.7,3000,1800
4,412,46800,TVM,NH,NTA,49800,20.7,3000,600
5,245,50400,NTA,NH,TVM,53400,20.7,3000,600
6,683,54000,TVM,VZM-PVR-KLKV,PSL,61800,48.5,7800,None

Steering Duty =  08:25:00
Spread Over =  09:35:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,711,27900,PSL,KLKV-NLMD-KTKM-NRNI-KRKM-DVPM-NH,TVM,35100,47.0,7200,300
1,349,35400,TVM,NH,KLKV,40200,33.7,4800,1200
2,220,41400,KLKV,NH,TVM,46200,33.7,4800,1800
3,460,48000,TVM,NH,KLKV,52800,33.7,4800,300
4,263,53100,KLKV,NH,TVM,57900,33.7,4800,900
5,707,58800,TVM,NH-KLKV,PSL,64200,37.2,5400,None

Steering Duty =  09:00:00
Spread Over =  10:05:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,39,27900,PSL,NH,KLKV,28500,3.5,600,600
1,176,29100,KLKV,NH,TVM,35100,33.7,6000,600
2,365,35700,TVM,NH,KLKV,39900,33.7,4200,1500
3,644,41400,KLKV,PVR-VZM-BYPASS,TVM,49200,45.0,7800,2400
4,425,51600,TVM,NH,KLKV,57600,33.7,6000,300
5,539,57900,KLKV,KRKM,VLRD,60300,17.0,2400,600
6,554,60900,VLRD,KRKM-KLKV,PSL,63900,20.5,3000,None

Steering Duty =  08:55:00
Spread Over =  10:00:00
Error occured = single positional indexer is out-of-bounds

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,592,28200,PSL,PDTM-AVKRA,TVM,36000,51.0,7800,600
1,608,36600,TVM,NH,KLKV,42000,33.7,5400,1800
2,643,43800,KLKV,PVR-VZM-BYPASS,TVM,51000,45.0,7200,2100
3,427,53100,TVM,NH,KLKV,57900,33.7,4800,300
4,636,58200,KLKV,PZKNU,VLKA,60000,13.0,1800,600
5,640,60600,VLKA,PZKNU,PSL,62100,11.0,1500,None

Steering Duty =  08:20:00
Spread Over =  09:25:00
Error occured = list index out of range

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,2,28500,PSL,NH,KLKV,29100,3.5,600,600
1,625,29700,KLKV,KRKM-PDTM,KTDA,34500,32.0,4800,600
2,629,35100,KTDA,PDTM-KRKM,KLKV,39900,32.0,4800,900
3,156,40800,KLKV,NH,TVM,45300,33.7,4500,2100
4,414,47400,TVM,NH,KLKV,52200,33.7,4800,300
5,270,52500,KLKV,NH,TVM,57000,33.7,4500,300
6,476,57300,TVM,NH,KLKV,62400,33.7,5100,600
7,94,63000,KLKV,NH,PSL,63600,3.5,600,None

Steering Duty =  08:55:00
Spread Over =  09:45:00
Error occured = single positional indexer is out-of-bounds
Error occured = list index out of range
Error occured = single positional indexer is out-of-bounds

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,24,29400,PSL,NH,KLKV,30000,3.5,600,900
1,187,30900,KLKV,NH,MC,36900,40.0,6000,1500
2,386,38400,MC,NH,KLKV,45000,40.0,6600,1800
3,237,46800,KLKV,NH,MC,53400,40.0,6600,1200
4,390,54600,MC,NH,KLKV,60600,40.0,6000,600
5,529,61200,KLKV,KRKM,VLRD,63600,17.0,2400,600
6,572,64200,VLRD,KRKM,PSL,66600,17.0,2400,None

Steering Duty =  08:50:00
Spread Over =  10:20:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,696,29400,PSL,KLKV-PZKNU-KJKM,TVM,35700,42.0,6300,600
1,339,36300,TVM,NH,KLKV,41100,33.7,4800,600
2,66,41700,KLKV,NH,PSL,42300,3.5,600,2100
3,687,44400,PSL,KLKV-NTA-TVM-KDPM-MNTL-KTNI,PCD,52200,53.0,7800,1800
4,713,54000,PCD,KTNI-KDPM-MC-TVM-NTA-UDA-PLKDA-URB,KLKV,63600,59.8,9600,600
5,84,64200,KLKV,NH,PSL,64800,3.5,600,None

Steering Duty =  08:45:00
Spread Over =  09:50:00
Error occured = list index out of range
Error occured = single positional indexer is out-of-bounds
Error occured = list index out of range
Error occured = single positional indexer is out-of-bounds

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,42,30900,PSL,NH,KLKV,31500,3.5,600,1500
1,198,33000,KLKV,NH,TVM,37800,33.7,4800,1200
2,391,39000,TVM,NH,NTA,42000,20.7,3000,1200
3,226,43200,NTA,NH,TVM,46200,20.7,3000,900
4,345,47100,TVM,NH,NTA,49800,20.7,2700,2400
5,252,52200,NTA,TVM-MC-CHPY,PCD,58800,43.0,6600,600
6,452,59400,PCD,MC-PTM-NH,KLKV,67800,56.0,8400,300
7,90,68100,KLKV,NH,PSL,68700,3.5,600,None

Steering Duty =  08:30:00
Spread Over =  10:30:00
Error occured = single positional indexer is out-of-bounds

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,47,34800,PSL,NH,KLKV,35400,3.5,600,600
1,514,36000,KLKV,KRKM,VLRD,38400,17.0,2400,600
2,559,39000,VLRD,KRKM,KLKV,41400,17.0,2400,300
3,222,41700,KLKV,NH,MC,47700,40.0,6000,2100
4,421,49800,MC,NH,KLKV,55800,40.0,6000,600
5,204,56400,KLKV,NH,TVM,61800,33.7,5400,600
6,387,62400,TVM,NH,KLKV,67200,33.7,4800,300
7,76,67500,KLKV,NH,PSL,68100,3.5,600,None

Steering Duty =  08:40:00
Spread Over =  09:15:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,48,35400,PSL,NH,KLKV,36000,3.5,600,300
1,695,36300,KLKV,PVR-VZM-BYPASS-TVM-NH-KLKV,PSL,48900,81.5,12600,2100
2,60,51000,PSL,NH,KLKV,51600,3.5,600,1200
3,79,52800,KLKV,NH,PSL,53400,3.5,600,900
4,55,54300,PSL,NH,KLKV,54900,3.5,600,600
5,265,55500,KLKV,NH,TVM,60600,33.7,5100,600
6,454,61200,TVM,NH,KLKV,66000,33.7,4800,300
7,100,66300,KLKV,NH,PSL,66900,3.5,600,None

Steering Duty =  07:35:00
Spread Over =  08:45:00
Error occured = single positional indexer is out-of-bounds

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,45,36000,PSL,NH,KLKV,36300,3.5,300,300
1,665,36600,KLKV,PVR-VZM-BYPASS-TVM-KANMLA,MC,44700,55.0,8100,600
2,671,45300,MC,KNMLA-VZM-PVR,KLKV,53400,55.0,8100,2400
3,154,55800,KLKV,PSL-KRKM-DVPM,MC,62400,44.0,6600,600
4,334,63000,MC,NH-KLKV,PSL,69300,43.5,6300,None

Steering Duty =  08:35:00
Spread Over =  09:15:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,29,36600,PSL,NH,KLKV,37200,3.5,600,300
1,214,37500,KLKV,NH,MC,43800,40.0,6300,300
2,406,44100,MC,PTM,NTA,48300,27.7,4200,300
3,240,48600,NTA,PTM,MC,52800,27.7,4200,2100
4,433,54900,MC,PTM,NTA,59100,27.7,4200,300
5,273,59400,NTA,PTM,MC,63600,27.7,4200,900
6,464,64500,MC,NH,KLKV,70800,40.0,6300,300
7,110,71100,KLKV,NH,PSL,71700,3.5,600,None

Steering Duty =  08:55:00
Spread Over =  09:45:00
Error occured = single positional indexer is out-of-bounds

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,50,36600,PSL,NH,KLKV,37200,3.5,600,600
1,654,37800,KLKV,PVR-VZM-BYPASS,TVM,45000,45.0,7200,600
2,409,45600,TVM,NH,NTA,48600,20.7,3000,1500
3,244,50100,NTA,PTM,MC,54300,27.7,4200,2400
4,438,56700,MC,PTM,NTA,60900,27.7,4200,300
5,279,61200,NTA,PTM,MC,65400,27.7,4200,900
6,472,66300,MC,NH,KLKV,72600,40.0,6300,600
7,114,73200,KLKV,NH,PSL,73800,3.5,600,None

Steering Duty =  09:00:00
Spread Over =  10:20:00
Error occured = single positional indexer is out-of-bounds

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,52,38400,PSL,NH,KLKV,39000,3.5,600,600
1,656,39600,KLKV,PVR-VZM-BYPASS,TVM,46800,45.0,7200,900
2,415,47700,TVM,NH,NTA,50700,20.7,3000,600
3,247,51300,NTA,NH,TVM,54300,20.7,3000,2400
4,437,56700,TVM,NH,KLKV,61500,33.7,4800,300
5,703,61800,KLKV,PZKNU-PZKA-KJKM-PVR-URB,KLKV,67800,39.0,6000,300
6,103,68100,KLKV,NH,PSL,68400,3.5,300,None

Steering Duty =  07:25:00
Spread Over =  08:20:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,672,39000,PSL,KLKV-NTA,MC,46200,43.5,7200,1200
1,413,47400,MC,PTM,NTA,51600,27.7,4200,300
2,249,51900,NTA,PTM,MC,56100,27.7,4200,2100
3,622,58200,MC,PTM-TVM-NTA-MVKV,KLKV,66000,48.5,7800,300
4,538,66300,KLKV,KRKM,VLRD,68700,17.0,2400,600
5,580,69300,VLRD,KRKM,PSL,71700,17.0,2400,None

Steering Duty =  08:10:00
Spread Over =  09:05:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,19,39600,PSL,NH,KLKV,40200,3.5,600,1500
1,153,41700,KLKV,NH,TVM,46500,33.7,4800,300
2,410,46800,TVM,NH-KLKV,PSL,52200,37.2,5400,300
3,62,52500,PSL,NH,KLKV,53100,3.5,600,300
4,150,53400,KLKV,NH,TVM,58200,33.7,4800,1800
5,445,60000,TVM,NH,NTA,63000,20.7,3000,600
6,287,63600,NTA,NH,TVM,66600,20.7,3000,1200
7,473,67800,TVM,NH,KLKV,73200,33.7,5400,600
8,107,73800,KLKV,NH,PSL,74400,3.5,600,None

Steering Duty =  08:25:00
Spread Over =  09:40:00
Error occured = single positional indexer is out-of-bounds
Error occured = single positional indexer is out-of-bounds

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,700,41400,PSL,KLKV-KRKM,VLRD,44700,20.5,3300,600
1,701,45300,VLRD,KRKM,KLKV,47700,17.0,2400,300
2,93,48000,KLKV,NH,PSL,48600,3.5,600,600
3,57,49200,PSL,NH,KLKV,49800,3.5,600,600
4,246,50400,KLKV,NH,MC,56400,40.0,6000,2100
5,442,58500,MC,PTM,NTA,62700,27.7,4200,1500
6,289,64200,NTA,NH,TVM,67200,20.7,3000,2400
7,479,69600,TVM,NH,KLKV,75000,33.7,5400,300
8,116,75300,KLKV,NH,PSL,75900,3.5,600,None

Steering Duty =  07:55:00
Spread Over =  09:35:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,690,42600,PSL,KLKV-PVR-VZM-BYPASS-TVM-NH,KLKV,55200,81.5,12600,600
1,655,55800,KLKV,PVR-VZM-BYPASS,TVM,62400,45.0,6600,1800
2,461,64200,TVM,NH,KLKV,69600,33.7,5400,600
3,540,70200,KLKV,KRKM,VLRD,72600,17.0,2400,600
4,582,73200,VLRD,KRKM,KLKV,75600,17.0,2400,300
5,115,75900,KLKV,NH,PSL,76500,3.5,600,None

Steering Duty =  08:55:00
Spread Over =  09:25:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,712,45600,PSL,KRKM-MJ-TVM,MC,52800,46.0,7200,600
1,429,53400,MC,NH,KLKV,59400,40.0,6000,1800
2,284,61200,KLKV,NH,TVM,66000,33.7,4800,1200
3,471,67200,TVM,NH,NTA,70200,20.7,3000,1200
4,305,71400,NTA,NH,TVM,74400,20.7,3000,600
5,492,75000,TVM,NH,KLKV,79800,33.7,4800,600
6,112,80400,KLKV,NH,PSL,81000,3.5,600,None

Steering Duty =  08:40:00
Spread Over =  09:50:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,716,46200,PSL,KLKV-PVR-VZM-BYPASS,TVM,53700,48.5,7500,300
1,431,54000,TVM,NH,NTA,57000,20.7,3000,300
2,266,57300,NTA,NH,TVM,60300,20.7,3000,2400
3,458,62700,TVM,NH,NTA,65700,20.7,3000,1200
4,296,66900,NTA,NH,TVM,69900,20.7,3000,600
5,482,70500,TVM,NH,NTA,73500,20.7,3000,300
6,308,73800,NTA,NH,TVM,76800,20.7,3000,2400
7,481,79200,TVM,NH,KLKV,83400,33.7,4200,1500
8,123,84900,KLKV,NH,PSL,85500,3.5,600,None

Steering Duty =  08:50:00
Spread Over =  10:55:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,53,46800,PSL,NH,KLKV,47400,3.5,600,300
1,239,47700,KLKV,NH,TVM,52500,33.7,4800,600
2,428,53100,TVM,NH,NTA,56100,20.7,3000,300
3,264,56400,NTA,NH,TVM,59400,20.7,3000,2100
4,722,61500,TVM,NH-KLKV-PVR-VZM-BYPASS,TVM,73800,88.7,12300,1800
5,498,75600,TVM,NH,KLKV,80100,33.7,4500,300
6,120,80400,KLKV,NH,PSL,81000,3.5,600,None

Steering Duty =  08:25:00
Spread Over =  09:30:00
Error occured = single positional indexer is out-of-bounds
Error occured = single positional indexer is out-of-bounds
Error occured = single positional indexer is out-of-bounds

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,720,49200,PSL,KLKV-KRKM,VLRD,52200,20.5,3000,1800
1,721,54000,VLRD,PSL,TVM,60900,46.0,6900,900
2,593,61800,TVM,MRLR-AVKRA-KRKM\n,KLKV,69000,51.0,7200,2400
3,304,71400,KLKV,NH,TVM,76200,33.7,4800,600
4,494,76800,TVM,NH,KLKV,81600,33.7,4800,600
5,121,82200,KLKV,NH,PSL,82800,3.5,600,None

Steering Duty =  07:55:00
Spread Over =  09:20:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,56,49500,PSL,NH,KLKV,50100,3.5,600,300
1,526,50400,KLKV,KRKM,VLRD,52800,17.0,2400,600
2,570,53400,VLRD,KRKM,KLKV,56400,17.0,3000,600
3,691,57000,KLKV,NH,TVM,62400,33.7,5400,1800
4,463,64200,TVM,NH,NTA,67200,20.7,3000,1200
5,299,68400,NTA,PTM,MC,72600,27.7,4200,1800
6,489,74400,MC,NH,KLKV,80400,40.0,6000,600
7,108,81000,KLKV,NH,PSL,81300,3.5,300,None

Steering Duty =  07:30:00
Spread Over =  08:50:00
Error occured = list index out of range
Error occured = single positional indexer is out-of-bounds
Error occured = list index out of range
Success legs = 55 ..... Missing 49 routes
NUMBER OF TRIPS = 41
Time = 17.427101850509644
Time taken by tempset = 11.118077278137207
Time taken by popTempSet = 5.084029674530029

In [56]:
len(df)

411